@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&family=Rajdhani:wght@700&family=Poppins:wght@700&family=Bebas+Neue&family=Montserrat:wght@700;900&display=swap');

.font-orbitron {
  font-family: 'Orbitron', sans-serif;
}

/* Custom font classes */
.font-space-grotesk {
  font-family: 'Space Grotesk', sans-serif;
}

.font-rajdhani {
  font-family: 'Rajdhani', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-bebas {
  font-family: 'Bebas Neue', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

#root{
  background-color: rgba(144, 137, 137, 0.29);
}


.corner-accent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.75rem;
  height: 0.75rem;
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.corner-accent::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0.75rem;
  height: 0.75rem;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}
